
.counter{
   width: 100%;
   height: max-content;
   background-image: linear-gradient(rgba(248, 189, 79, 0.8),rgba(248, 102, 4, 0.846));
   position: relative;
   padding: 10%;
}
.box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  flex-wrap: wrap;
}
