@import "./Variables";

.main-btn{
    background-color: $red-color;
    color: $yellow-color;
    padding: 0.5rem 1rem;
}
.footer {
    background-color: $dark-color;
    .copyright > span {
      color: $green-color;
      div span {
        color: $yellow-color;
      }
    }
    .contact ul i {
      width: 20px;
      height: 20px;
      box-sizing: content-box;
    }
    .facebook {
      background-color: #1877f2;
    }
    .linkedin {
      background-color: #0077b5;
    }
    .twitter {
      background-color: #1da1f2;
    }
    .youtube {
      background-color: #ff0000;
    }
  }
 