
.home-paint{
    width:100%;
    margin-top: 25px;
    padding-bottom: 25px;
}
.cards{ 
    width: 100%;
    display: flex;
    flex-wrap: wrap !important;
    align-items: center;
    justify-content: space-around;

}
.card{
    margin-top:20px ;
    padding: 20px;
    width: auto;
    height: max-content;
    border-radius: 20px;
    border: 0;
    background-color:gold;
    box-shadow: 10px 10px 4px #eee;
} 
.card i{
    color: var(--color-icon);
}
.h1-paint{
    color:var(--color-link);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-weight: bold;
   
}

:root{
  --color-link:rgb(6, 6, 50);
  --color-icon:rgb(236, 57, 117);
}
