@import "./Variables";
.team { 
    gap: 5px;
    .team-member{
        .member-img{
            height: auto;
        }
        margin-bottom: 20px; 
        .member-info {
            padding: 30px 15px;
            text-align: center;
            box-shadow: 0px 2px 15px $color-shadwo;
            background: $color-white;
            margin: -50px 20px 0 20px;
            position: relative;
            border-radius:8px;    
            h4{
                font-weight: 400;
                margin-bottom: 5px;
                font-size: 24px;
                color: $color-secondary
            }
            span{
                display: block;
                font-size: 16px;
                font-weight: 400;
                color: $color-gray;
            }
            .social {
                position: absolute;
                left: 0;
                top: -18px;
                right: 0;
                opacity: 0;
                transition: ease-in-out 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    color: $color-white;
                    background: $color-primary;
                    margin: 0 5px;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    width: 36px;
                    height: 36px;
                    border-radius: 50%;
                    transition: 0.3s;
                    line-height: 0;
                    font-size: 16px;}
              }
              i {
                font-size: 18px;
                margin: 0 2px;
                line-height: 0;
                font-size: 16px;
              }
        }
    }
}

.team .team-member:hover .social {
    opacity: 1;
  }
  
  .team .team-member .social a:hover {
    background: $color-primary;
  }
  