$color-nav :#de7c21;
$color-link:rgb(6,6,50);
$color-primary: #18256D;
$color-white: #ffffff;
$color-primary: #0ea2bd;
$color-secondary: #485664;
$color-gray: #6c757d;
$color-shadwo:rgba(0,0,0, 0.1);
$dark-color: #19283f;
$green-color: #33d1cc;
$red-color: #ff3150;
$yellow-color: #ffc400;
$section-color: #eff7fa;
  
  