@import "./NAv";
@import "./Home";
@import "./paint";
@import "./About";
@import "./footer";
@import "./Counter";
@import "./Service";
@import "./Team";
@import"./Tape";
@import "./Variables";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

