@import "./NAv";
@import "./Home";
@import "./paint";
@import "./About";
@import "./footer";
@import "./Counter";
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
    --color-link:rgb(6, 6, 50);
  }
  